@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  margin: 0;  
  font-family: "Sansation";
  box-sizing: border-box;
}

:root{
  --rosa: #eeacb7;
  --marrom: #582f17;
  --marrom_claro: #915633;
  --branco: #ffffff;
  --creme: #a07337;
  --cinza: #c5c5c4;
}

header {
  background-color: var(--rosa);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.logo_1, .categories {
  display: inline-block;
  padding: 20px;
  align-content: center;
  align-items: center;
}

.category {
  padding: 20px;
  text-decoration: none;
  color: var(--marrom);
}

.category:hover {
  text-decoration: overline;
  color: var(--marrom_claro);
  transition: all 0.5s;
}

.botao {
  border: none;
  background-color: var(--marrom);
  cursor: pointer;
  border-radius: 15px;
  padding: 10px;
  width: 170px;
  color: var(--branco);
  transition: all 0.3s;
}

.botao:hover {
  background-color: var(--rosa);
  border: 1px solid var(--marrom);
  color: var(--marrom);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


img {
  width: 1920px;
  height: auto;
}

.swiper-pagination-bullet {
  --swiper-theme-color: var(--rosa);
}

main {
  padding-top: 50px;
}

.container-2 {
  padding-top: 5px;
}

.filtro {
  background-color: var(--creme);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 6px 20px, rgba(0, 0, 0, 0.23) 0px 2px 10px;
  height: 200px;
}

h2 {
  text-align: center;
  color: var(--branco);
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 0px;
}

.selecoes {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 20px 0px 0px;
}

.estado, .cidade, .opt-1, .opt-2{
  width: 200px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  background-color: var(--cinza);
  color: var(--marrom);
}

